/*================== Loader ==================== */
.holder .preloader {
    width: 44px;
    height: 29px;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader 2s infinite ease-in;
    position: relative;
    top: 15px;
    left: 17px;
    margin: auto;  
  }
  
  @keyframes rotatePreloader {
    0% {
      transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
  }
  .holder .preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .holder .preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: #ffffff;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  
  .holder .preloader div:nth-child(1) {
    transform: rotateZ(0deg);
    animation: rotateCircle1 2s infinite linear;
    z-index: 9;
  }
  
  @keyframes rotateCircle1 {
    0% {
      opacity: 0;
    }
    0% {
      opacity: 1;
      transform: rotateZ(36deg);
    }
    7% {
      transform: rotateZ(0deg);
    }
    57% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .holder .preloader div:nth-child(2) {
    transform: rotateZ(36deg);
    animation: rotateCircle2 2s infinite linear;
    z-index: 8;
  }
  
  @keyframes rotateCircle2 {
    5% {
      opacity: 0;
    }
    5.0001% {
      opacity: 1;
      transform: rotateZ(0deg);
    }
    12% {
      transform: rotateZ(-36deg);
    }
    62% {
      transform: rotateZ(-36deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .holder .preloader div:nth-child(3) {
    transform: rotateZ(72deg);
    animation: rotateCircle3 2s infinite linear;
    z-index: 7;
  }
  
  @keyframes rotateCircle3 {
    10% {
      opacity: 0;
    }
    10.0002% {
      opacity: 1;
      transform: rotateZ(-36deg);
    }
    17% {
      transform: rotateZ(-72deg);
    }
    67% {
      transform: rotateZ(-72deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .holder .preloader div:nth-child(4) {
    transform: rotateZ(108deg);
    animation: rotateCircle4 2s infinite linear;
    z-index: 6;
  }
  
  @keyframes rotateCircle4 {
    15% {
      opacity: 0;
    }
    15.0003% {
      opacity: 1;
      transform: rotateZ(-72deg);
    }
    22% {
      transform: rotateZ(-108deg);
    }
    72% {
      transform: rotateZ(-108deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .holder .preloader div:nth-child(5) {
    transform: rotateZ(144deg);
    animation: rotateCircle5 2s infinite linear;
    z-index: 5;
  }
  
  @keyframes rotateCircle5 {
    20% {
      opacity: 0;
    }
    20.0004% {
      opacity: 1;
      transform: rotateZ(-108deg);
    }
    27% {
      transform: rotateZ(-144deg);
    }
    77% {
      transform: rotateZ(-144deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .holder .preloader div:nth-child(6) {
    transform: rotateZ(180deg);
    animation: rotateCircle6 2s infinite linear;
    z-index: 4;
  }
  
  @keyframes rotateCircle6 {
    25% {
      opacity: 0;
    }
    25.0005% {
      opacity: 1;
      transform: rotateZ(-144deg);
    }
    32% {
      transform: rotateZ(-180deg);
    }
    82% {
      transform: rotateZ(-180deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .holder .preloader div:nth-child(7) {
    transform: rotateZ(216deg);
    animation: rotateCircle7 2s infinite linear;
    z-index: 3;
  }
  
  @keyframes rotateCircle7 {
    30% {
      opacity: 0;
    }
    30.0006% {
      opacity: 1;
      transform: rotateZ(-180deg);
    }
    37% {
      transform: rotateZ(-216deg);
    }
    87% {
      transform: rotateZ(-216deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .holder .preloader div:nth-child(8) {
    transform: rotateZ(252deg);
    animation: rotateCircle8 2s infinite linear;
    z-index: 2;
  }
  
  @keyframes rotateCircle8 {
    35% {
      opacity: 0;
    }
    35.0007% {
      opacity: 1;
      transform: rotateZ(-216deg);
    }
    42% {
      transform: rotateZ(-252deg);
    }
    92% {
      transform: rotateZ(-252deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .holder .preloader div:nth-child(9) {
    transform: rotateZ(288deg);
    animation: rotateCircle9 2s infinite linear;
    z-index: 1;
  }
  
  @keyframes rotateCircle9 {
    40% {
      opacity: 0;
    }
    40.0008% {
      opacity: 1;
      transform: rotateZ(-252deg);
    }
    47% {
      transform: rotateZ(-288deg);
    }
    97% {
      transform: rotateZ(-288deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .holder .preloader div:nth-child(10) {
    transform: rotateZ(324deg);
    animation: rotateCircle10 2s infinite linear;
    z-index: 0;
  }
  
  @keyframes rotateCircle10 {
    45% {
      opacity: 0;
    }
    45.0009% {
      opacity: 1;
      transform: rotateZ(-288deg);
    }
    52% {
      transform: rotateZ(-324deg);
    }
    102% {
      transform: rotateZ(-324deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  iframe{
    display: none;
  }
  .otpInputs {
    width: 50px !important;
    height: 50px !important;
  }
  .ant-drawer-header{
    justify-content: end !important;
  }
  .ant-drawer-header-title{
    flex: unset !important;
  }
  .ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper{
    width: 570px !important;
  }
  .react-tel-input .form-control{
    width: 100% !important;
    height: auto !important;
    border: 0 !important;
    padding-left: 82px !important;

  }
  .react-tel-input .flag-dropdown{
    background-color: transparent !important;
    border: 0 !important;
    left: 41px !important;
  }
  .react-tel-input .selected-flag{
    border-radius: 20px !important;
  }
  .text-red{
    color: #ff0000;
    position: absolute;
  }
  .form-control.signupClass.react-tel-input {
    box-shadow: unset;
    padding: 0;
}
.react-date-picker__wrapper, .react-time-picker__wrapper{
  border: 0 !important;
}
input.react-date-picker__inputGroup__input.react-date-picker__inputGroup__year {
  width: 45px !important;
}
input.react-date-picker__inputGroup__input.react-date-picker__inputGroup__day {
  width: 25px !important;
}
/* input.react-time-picker__inputGroup__input.react-time-picker__inputGroup__hour {
  width: 24px !important;
}
input.react-time-picker__inputGroup__input.react-time-picker__inputGroup__minute {
  width: 23px !important;
} */
.mx-800 {
  max-width: 800px;
  margin: auto;
}
.ellip-1{
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 230px;
  overflow: hidden;
  margin: auto;
}
.student-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profeImg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.trBg {
  background-color: #7a3229;
  color: #fff;
}
.stylistImg{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.gridrowgap{
  grid-row-gap: 53px;
}
label.radio-card {
  cursor: pointer;
  margin-bottom: 1rem;
}
label.radio-card:last-child {
  margin-bottom: 0rem;
}
label.radio-card .card-content-wrapper {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  display: grid;
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
  transition: 200ms linear;
}
label.radio-card input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}
label.radio-card input[type=radio]:checked + .card-content-wrapper {
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 2px #7a3229;
}
.stylistListScoll{
  overflow: hidden;
  overflow-y: scroll;
  max-height: 68vh;
  margin-bottom: 23px;
  padding: 4px;
}
.stylistListScoll::-webkit-scrollbar{
  width: 0;
}
.input-img.imgTop{
top: 5px;
}
.accordion-button:not(.collapsed) {
  box-shadow: unset;
}
.accordion-button.collapsed, .accordion-item:last-of-type{
  border-radius: 15px !important;
}
.accordion-button, .accordion-item:first-of-type{
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.nav.nav-pills.group-nav.dashTabs{
margin-top: 0;
}
.nav.nav-pills.group-nav.dashTabs .nav-item{
  min-width: 125px;
}
.nav.nav-pills.group-nav.dashTabs .nav-item:last-child{
  margin-right: 0;
}
.ttlwer{
  margin-bottom: 0;
  font-size: 12px;
}
.fpgYvi {
  height: 36px !important;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gjalAv .day.active {
  background: #e10c17 !important;
}
.fpgYvi .next, .fpgYvi .prev{
  position: relative;
  background: transparent !important;
  color: #e10c17;
  font-size: 0;
  border-radius: 50%;
  height: 19px !important;
  width: 10px !important;
  padding: 0;
}
.fpgYvi .prev::after{
  content: "\f104";
  font-family: FontAwesome;
  position: absolute;
  top: -5px;
  left: 0px;
  font-size: 27px;
}
.fpgYvi .next::after{
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  top: -5px;
  left: 0px;
  font-size: 27px;
}

.ellips-1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  overflow: hidden;
}
.ellips1Line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  margin: auto;
}
.closeOptionIcon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    font-size: 16px;
    right: 0px;
    top: 2px;
}
.searchWrapper{
  border: 2px solid #968686 !important;
  overflow: hidden;
    overflow-y: scroll;
    height: 60px;
    border-radius: 10px !important;
}
.searchWrapper::-webkit-scrollbar{
  width: 0;
}
.addClass .deleteClass {
  width: 25px;
    height: 25px;
    font-size: 19px;
    border-radius: 50%;
    line-height: 1;
    text-align: center;
    margin: 0 0 0 auto;
    padding: 0;
    cursor: pointer;
}
.ellip-1.ellip-ven{
width: 178px;
}
.MultiselectServ .searchWrapper{
  border: 0 !important;
  box-shadow: 0 0.5rem 1rem rgb(216 75 75 / 15%);
}
.MultiselectServ .searchWrapper .searchBox {
  
    padding-top: 11px;
}
.pagination .page-link{
  color: #000;
}
.pagination .page-item.active .page-link, .pagination .page-link:hover, .pagination .page-link:focus {
  background-color: #ed6c72;
  border-color: #ed6c72;
  color: #fff !important;
  box-shadow: 0 0.5rem 1rem #e10c1752;
}
.carousel .carousel-status{
  display: none;
}
.carousel.carousel-slider .control-arrow{
  color: #acacac !important;
  font-size: 70px !important;
}
.Carouselsettings .slick-prev:before{
 background-image: url(/images/Sliderarrowleft.png);
 background-repeat: no-repeat;
 background-size: contain;
 width: 19px;
 height: 35px;
  border: 0 !important;
  font-size: 0;
    display: block;
}
.Carouselsettings .slick-next:before{
  background-image: url(/images/sliderarrowRight.png);
 background-repeat: no-repeat;
 background-size: contain;
 width: 19px;
 height: 35px;
  border: 0 !important;
  font-size: 0;
    display: block;
}
.carousel.carousel-slider .control-arrow:hover {
  background: transparent !important;
}
.carousel.carousel-slider {
  /* padding: 0 68px 0 68px; */
}
/* .slick-slider.TestimonailSlider .slick-prev {
  left: unset;
  right: 80px;
}
.slick-slider.TestimonailSlider .slick-next {
  right: 32px;
} */
.slick-slider.TestimonailSlider .slick-prev, .slick-slider.TestimonailSlider .slick-next{
  /* top: -56px; */
  width: 35px;
    height: 35px;
    z-index: 999;
}

.slick-slider.TestimonailSlider .slick-prev:before, .slick-slider.TestimonailSlider .slick-next:before{
  font-size: 29px;
  color: #fff;
  line-height: 17px;
}
.slick-slider.TestimonailSlider .slick-arrow{
  background: rgb(247,18,47);
background: linear-gradient(162deg, rgba(247,18,47,1) 0%, rgba(201,4,109,1) 48%, rgba(183,4,177,1) 100%, rgba(0,122,215,1) 100%);
  border-radius: 10px;
}
.slick-dots{
  bottom: -30px;
}
.slick-dots li button:before{
  background-color: #f32525;
  border-radius: 50px;
}
.slick-dots li.slick-active button:before {
  background-color: #eb0909;
}
.slick-slider.EventNewsSlider.slick-initialized .slick-track{
  top: 0;
}
.slick-list{
  padding: 0 0 18px 0px !important;
}
.ellip-3{
  display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
  	overflow: hidden;
}
.Carouselsettings .slick-prev{
  left: 10px;
}
.Carouselsettings .slick-next{
  right: 20px;
}
.Carouselsettings .slick-list{
  padding: 0 !important;
}
.slick-prev, .slick-next{
  z-index: 999 !important;
}
.RedBtn{
  background-color: #e20f1a;
  color: #fff;
}
.text-justify{
  text-align: justify;
}
.ProgramSlider .programs-colles .text-center img{
  width: 282px;
  height: 242px;
  object-fit: contain;
}
.modal-content .btn-close.timesIcon {
  right: -7px;
  top: unset;
  opacity: 1;
  bottom: 2px;
  font-size: 27px;
  color: #ff0000;
}
.btn-close{
  width: 2em !important;
    height: 2em !important;
}
.visi-hidin{
  visibility: hidden;
}
.rmdp-input {
  border: 1px solid #ced4da !important;
  width: 100% !important;
  height: 60px !important;
  padding-left: 2.5rem!important;
  border-radius: 0 !important;
}
.backIconPosi, .backIconPosi:hover {
  position: absolute;
  left: 13px;
  top: 0;
  bottom: 0;
  font-size: 20px;
  margin: auto;
  height: fit-content;
  cursor: pointer;
}
@media (max-width:1412.9px){
  .ellips-1{
      width: 165px;
  }
}
@media (max-width:375.9px){
  .ellips-1{
      width: 120px;
  }
}
@media (max-width:596.9px){
  .mb5{
      margin-top: -4rem;
  }
  .mt5{
    margin-top: 4rem;
}

.programs-colles {
  border: 0;
  box-shadow: 0 0.5rem 1rem rgb(216 75 75 / 15%);
}
}
@media (max-width:991.9px){
  .carousel.carousel-slider {
    padding: 0;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  display: none;
}
.arrow_next_right {
  bottom: 1%;
  left: 0;
}
}



ol.collection {
  margin: 0px;
  padding: 0px;
}
ol.collection li{
  list-style: none;
}

.appIconImg{
  width: 120px;
  height: 36px;
  object-fit: contain;
}
* {
  box-sizing: border-box;
}

/* 2 Column Card Layout */
@media screen and (max-width: 950.9px) {
  .collection-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
  }

  .item {
      border: 1px solid #e10c17;
      border-radius: 2px;
      padding: 10px;
  }

  /* Don't display the first item, since it is used to display the header for tabular layouts*/
  .collection-container>li:first-child {
      display: none;
  }

  .attribute::before {
      content: attr(data-name);
      text-transform: capitalize;
      color: #e10c17;
      font-weight: 600;
  }

  /* Attribute name for first column, and attribute value for second column. */
  .attribute {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 12px;
  }
}

/* 1 Column Card Layout */
@media screen and (max-width:580px) {
  .collection-container {
      display: grid;
      grid-template-columns: 1fr;
  }
}


@media screen and (min-width: 950.9px) {
  /* The maximum column width, that can wrap */
  .lifeSkill .item-container {
      display: grid;
      grid-template-columns: repeat(6,1fr);;
  }
  .coachBooking .item-container {
      display: grid;
      grid-template-columns: repeat(11,1fr);;
  }
  .sportFitness .item-container {
      display: grid;
      grid-template-columns: repeat(7,1fr);;
  }
  .myProgramLifeData .item-container {
      display: grid;
      grid-template-columns: repeat(5,1fr);;
  }
  .studentData .item-container {
    display: grid;
    grid-template-columns: 6.5% 13.5% 12.5% 13.5% 12.5% 16.5% 13.5% 11.5%;
}

  .attribute-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(var(--column-width-min), 1fr));
  }

  /* In order to maximize row lines, only display one line for a cell */
  .attribute {
      border-bottom: 1px solid #80808047;
      padding: 1rem 0.5rem;
      /* overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;  */
  }
.dataLidt .attribute-container{
  background-color: #fff;
}
.headData .attribute{
  border: 0;
} 
.headData .attribute-container{
  background-color: #ed6c72;
  color: #fff;
  text-transform: capitalize;
}
.headData .attribute-container:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.headData .attribute-container:last-child{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dataLidt:last-child .attribute-container .attribute{
  border: 0;
}


  .item-container:hover {
      background-color: rgb(200, 227, 252);
  }

  /* Center header labels */
  .collection-container>.item-container:first-child .attribute {
      display: flex;
      align-items: center;
      justify-content: start;
      text-overflow: initial;
      overflow: auto;
      white-space: normal;
      padding: 1.5rem 0.5rem;
    font-weight: 700;
  }
}
.Carouselsettings.slick-initialized .slick-slide {
  padding: 0;
}
.ReCAPTCHAFrame iframe{
  display: block;
}
@media (min-width:1024.9px) and (max-width:1199.9px) {
  .ellips1Line {
    width: 142px;
}
}
@media (max-width:991.9px) {
  .ellips1Line {
    width: 142px;
}
}
.createEventForm.nav-link {
  width: 40%;
  margin-left: auto;
}
.form-control.CurrentLocation{
  font-weight: normal;
  padding-left: 1.5rem;
}
.venueLocation .form-control.CurrentLocation{
  padding-left: 3rem;
}
.form-control.CurrentLocation:focus{
box-shadow: unset;
border: 0 !important;
border-bottom: 1px solid #b4b2b2!important;
}
.input-img.loactun{
  left: 0px;
  top: 8px;
  width: 16px;
    height: 16px;
}
.input-img.loactunRight{
  right: -2px;
  top: 8px;
  left: unset;
}
.loginAfter .homePageDrop .tabs-list{
  background-color: #fff;
    color: #787878;
}
.calendar .react-calendar{
  width: 100%;
  border: 0;
}
.calendar .react-calendar__tile--active,
.calendar .react-calendar__tile--now,
.calendar .react-calendar__tile--active:enabled:hover,
.calendar .react-calendar__tile--active:enabled:focus,
.calendar .react-calendar__tile--now:enabled:hover,
.calendar .react-calendar__tile--now:enabled:focus,
.calendar .react-calendar__tile:enabled:hover,
.calendar .react-calendar__tile:enabled:focus,
.calendar .react-calendar__navigation button:enabled:hover,
.calendar .react-calendar__navigation button:enabled:focus {
  background: transparent;
}
.calendar .react-calendar__tile abbr{
  padding: 5px 0px;
  display: inline-block;
  border-radius: 50%;
  width: 26px;
}
.calendar .react-calendar__tile--now abbr{
    
    background: #e1030f;
    color: white;
}
.calendar .react-calendar__tile--active abbr {
    background: #e1b70f;
    color: white;
}
.calendar abbr[data-bs-original-title], .calendar abbr[title]{
  text-decoration: none;
}
.calendar .react-calendar__month-view__days__day--weekend {
  color: #000;
}
.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
  display: none;
}
.calendar .react-calendar__navigation {
  display: flex;
  height: 44px;
  width: 250px;
  margin: 1rem auto;
}
.calendar .react-calendar__navigation button {
  font-weight: 600;
}
.calendar .react-calendar__navigation__arrow {
  font-size: 25px;
}
.profile-loca .form-control.CurrentLocation, .profile-loca .form-control.CurrentLocation:focus{
  padding-left: 3rem;
  border: 0 !important;
}

.ant-drawer-close {
  color: #000 !important;
  font-size: 27px !important;
}
.ant-drawer-content, .ant-drawer-header {
  background-color: #fff8f8 !important;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700 !important;
  color: inherit !important;
}
.uploadDocumentStyle .react-sweet-progress{
display: grid;
grid-gap: 5px;
justify-content: initial;
margin-top: 10px;
}
.kep-login-facebook.metro{
  background-image: url(/images/facebook.png);
  background-repeat: no-repeat;
  background-size: inherit;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0;
  font-size: 0;
  background-position: center;
  padding: 0;
}
.GoogleLogingBtn{
  background-image: url(/images/Google.png);
  background-repeat: no-repeat;
  background-size: inherit;
  width: 32px;
  height: 32px;
  background-color: transparent !important;
  border: 0;
  font-size: 0;
  background-position: center;
  padding: 0;
  box-shadow: unset !important;
}

.GoogleLogingBtn div, .GoogleLogingBtn span{
  display: none;
}
.venueBookingTbl .storetable.table th, .venueBookingTbl .storetable.table td{
  white-space: initial;
}
.input-range__track--active, .input-range__slider{
  background: #e1030f !important;
}
.input-range__slider{
  border: 2px solid #fff !important;
}
.input-range__label--value .input-range__label-container {
  background-color: #fff;
  padding: 2px 5px !important;
}
.input-range__label--value {
  top: -2.2rem !important;
}
.input-range__label-container{
  color: #000;
  font-size: 17px;
}
.input-range__label-container::after{
  content: " Kms";
}
.input-range__label--min .input-range__label-container, .input-range__label--max .input-range__label-container{
  left: 0 !important;
}
.votesRatingBg a:hover, .votesRatingBg a{
  color: #fff !important;
}
.react-time-picker.form-control {
  width: 80%;
  padding: 10px;
  box-shadow: unset;
}
.upload-btn-wrapper.uploadFile.CoverUpload .btn{
  padding: 0;
}
.upload-btn-wrapper.uploadFile .btn img.uploadImageicon.CoverImageUpload {
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: contain;
}
.eventGridFlex iframe{
  display: block;
  width: 100%;
  height: 300px;
}
.locationFormDesk .form-control.CurrentLocation {
  padding-right: 2rem;
}
.linkNone{
  display: none;
}
.filter.FilterFill, .HomefilterDrop .filterDrop.FilterFill{
  background-color: #e10c17;
}
.quill.textarea-control{
  background-color: #fff;
}
.ql-container.ql-snow{
  border: 0 !important;
}
.ql-container.ql-snow .ql-editor{
  padding: 2px 0px !important;
  font-size: 16px !important;
}
.ql-editor.ql-blank::before {
  color: #0000008f !important;
  font-style: normal !important;
  left: 0 !important;
  top: 4px !important;
}
.rulePTage p{
  margin-bottom: 0px;
  padding-left: 25px;
  position: relative;
}
.rulePTage p::after{
  content: "";
  background-image: url(/images/check_done.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 6px;
}
.HomefilterDrop {
  /* display: none; */
}
.signupClass{ 
   border: 1px solid transparent;
padding: 19px 0;
-webkit-appearance: none;
-moz-box-shadow: 0px 0rem 4rem 0px rgb(0 0 0 / 8%);
-webkit-box-shadow: 0px 0rem 4rem 0px rgb(0 0 0 / 8%);
box-shadow: 0px 0rem 4rem 0px rgb(0 0 0 / 8%);
border-radius: 5px;
background-color: #fff;
} 
.signupClass .PhoneInputInput{
  border: 0;
  padding-left: 2.5rem;
}
.signupClass .PhoneInputCountry{
  left: 41px;
}
.react-time-picker__inputGroup {
  display: flex !important;
  align-items: baseline !important;
}
.BtnIncDec span.cursorNotWork {
  cursor: not-allowed;
  color: #c5c8c8;
}
.fs-15{
  font-size: 15px;
}
.helpBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0rem 4rem 0px rgb(226 118 118 / 43%);
  color: #e10c17;
  z-index: 999;
}
.helpBtn:hover{
  background-color: #e10c17;
  color: #fff;
}
.profile-collapse a h6, .profile-collapse span h6, .profile-collapse .setting-nav .dropdown-item, .profile-collapse .setting-nav span{
  font-size: 0.9rem;
  color: #787878 !important;
  text-transform: capitalize;
  font-weight: 600 !important;
}
.profile-collapse a h6:hover, .profile-collapse span h6:hover, .profile-collapse .setting-nav .dropdown-item:hover, .profile-collapse .setting-nav span:hover, .profile-collapse .theme-color h6{
  color: #e1030f !important;
}
.btn-apply {
  background-color: #e10c17;
  color: #fff;
  padding: 3px 8px 7px;
  border-radius: 5px;
  top: 14px;
  cursor: pointer;
}
@media (min-width:575.9px){
  .w-sm-25{
    width: 25% !important;
  }
}
@media (max-width:400px){
  .otpInputs {
    width: 40px !important;
    height: 40px !important;
}
}
@media (max-width:1024.9px){
.venueBookingTbl .storetable.table td{
  white-space: nowrap;
}
}
@media (max-width:575.9px){
  .Carouselsettings .slick-prev:before, .Carouselsettings .slick-next:before{
    width: 13px;
    height: 21px;
}
}